
*{
margin:0;
padding:0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: "VT323", monospace;
font-weight: 100;
font-style: normal;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    height: 100%;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
section{
    min-height: 100%;
    padding: 10rem 9% 2rem;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
section video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
  }
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 100;
}
   
#menu{
    position:absolute;
    top:30px;
    left:30px;
    z-index:500;
    height:50px;
    border-radius:25px;
    overflow:hidden;
    background:#444;
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
    transition:all .5s ease;
    
    &>*{
      float:left;
    }
  }
  
  #menu-toggle{
    display:block;
    cursor:pointer;
    opacity:0;
    z-index:999;
    margin:0;
    width:50px;
    height:50px;
    position:absolute;
    top:0;
    left:0;
  
    &:checked~ul{
      width:35rem;
      background-position:0px -50px;
    }
  }
  
  ul{
    list-style-type:none;
    margin:0;
    padding:0 0 0 50px;
    height:50px;
    width:0px;
    transition:.5s width ease;
    background-image:url("https://i.imgur.com/3d0vJzn.png");
    background-repeat:no-repeat;
    background-position:0px 0px;
  }
  
  li{
    display:inline-block;
    line-height:50px;
    width:50px;
    text-align:center;
    margin:0;
  
    a{
      font-size:1.25em;
      font-weight:bold;
      color:white;
      text-decoration:none;
    }
  }

.navbar a{
    font-size: 1.7rem;
    transition: .3s;
}


  .allnav{ 
    text-align: center;
    margin-top: 10px;
    margin: 5px;
    width: 10vh;
    padding: 5px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    border: 2px solid black;
    background: #6c767f;
    box-shadow: inset 4px 4px 0px #2b2f33,
                inset -4px -4px 0px #adbdcb;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
  }



#menu-icon img{
    align-items: right;
    width: 60px;
    height: 60px;
}

.home{
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 12px;
  }



#flashingtext {
	margin: -5.5% 0 0 70%;
	width: 50%;
	transform: rotate(-20deg);
	animation: FlashingText 0.5s ease-in-out infinite;
	color: #FFFF00;
	font-size: 2vw;
}

#aboutpage{
    text-align: center;
    width: 45vh;
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    border: 2px solid black;
    background: #6c767f;
    box-shadow: inset 4px 4px 0px #2b2f33,
                inset -4px -4px 0px #adbdcb;
}

#gallerypage{
    text-align: center;
    width: 45vh;
    padding: 5px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    border: 2px solid black;
    background: #6c767f;
    box-shadow: inset 4px 4px 0px #2b2f33,
                inset -4px -4px 0px #adbdcb;
}

#dreamspage{
    text-align: center;
    width: 45vh;
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    border: 2px solid black;
    background: #6c767f;
    box-shadow: inset 4px 4px 0px #2b2f33,
                inset -4px -4px 0px #adbdcb;
}

#interestpage{
    text-align: center;
    width: 45vh;
    padding: 5px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    border: 2px solid black;
    background: #6c767f;
    box-shadow: inset 4px 4px 0px #2b2f33,
                inset -4px -4px 0px #adbdcb;
}


#socials{
    margin-left: 7rem;
    display: flex;
    align-items: center;
}

#socials1 img{
    display: flex;
    text-align: center;
    width: 5vh;
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    border: 2px solid black;
    background: #6c767f;
    box-shadow: inset 4px 4px 0px #2b2f33,
                inset -4px -4px 0px #adbdcb;
}
#socials2 img{
    display: flex;
    text-align: center;
    width: 5vh;
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    border: 2px solid black;
    background: #6c767f;
    box-shadow: inset 4px 4px 0px #2b2f33,
                inset -4px -4px 0px #adbdcb;
}

#socials3 img{
    display: flex;
    text-align: center;
    width: 5vh;
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    border: 2px solid black;
    background: #6c767f;
    box-shadow: inset 4px 4px 0px #2b2f33,
                inset -4px -4px 0px #adbdcb;

}


   .tooltip {
    border-radius: 1em;
    position: relative;
    display: inline-block;
   }
   
   .tooltip .tooltiptext {
    visibility: hidden;
    width: 13em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 1em;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
   }
   
   .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
   }
   
   .tooltip:hover .tooltiptext {
    visibility: visible;
   }



#aboutpage:hover, #gallerypage:hover,
#dreamspage:hover, #interestpage:hover,
#socials1:hover img, #socials2:hover img, #socials3:hover img{
    border: 2px solid white;
    cursor: pointer;
    transform: uppercase;
}

#aboutpage:active, #gallerypage:active,
#dreamspage:active, #interestpage:active,
#socials1:active , #socials2:active , #socials3:active{
    transform: translate(3px, 3px);
}



.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/grass_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.aboutimg1{
    position: absolute;
    z-index: 1;
    display: flex;
    float: right;
    margin-left: 1100px;
}
.aboutimg2 img{
    position: absolute;
    z-index: 2;
    display: flex;
}

.card {
    height: 50rem;
    width: 120rem;
    background: #242629a8;
    border-radius: 2px;
    box-shadow: inset 4px 4px 0px #17191b,
                inset -4px -4px 0px #17191b;
    overflow: hidden;
  }

  .tabs {
    display: flex;
    border-radius: 0;
  }

  .tab-button {
    color: white;
    font-size: 20px;
    margin-top: 1rem;
    width: 30rem;
    padding: 1%;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background: #42484e;
    box-shadow: inset 5px 5px 0px #1d2024,
            inset -5px -5px 0px #758292;
    border: none;
    cursor: pointer;
    transform: uppercase;
  }
  
  #firstbtn{
    margin-left: 15rem;
  }

  .tab-button.active {
    background: #1c1e20;
    box-shadow: inset 5px 5px 0px #0f1012,
            inset -5px -5px 0px #3b4046;
            transform: translate(3px, 3px);
  }

  .tab-content {
    text-align: justify;
    color: white;
    display: none;
    padding: 20px;
    font-size:25px ;
  }

  .tab-content.active {
    display: block;
  }

.abouttabtitle{
    background: #c7c7c7;
    border-bottom: 5px solid grey;
    height: 5rem;
    align-content: center;
}
  

.abouttabtitle img{
    width: 15rem;
    text-align: center;
    margin: 0;
}

.gallery{
    background-image: url(../images/library_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.galleryimg1{
    position: absolute;
    z-index: 5;
    float: right;
    margin-left: 55em;
}
.galleryimg1 img{
   margin-top: 10rem;
   width: 32rem;
   height: 32rem;
}

.galleryimg2{
    position: absolute;
    z-index: 5;
    float: right;
    margin-left: 51rem;
}
.galleryimg2 img{
   width: 15rem;
   height: 10rem;
}

.myimg img{
    width: 50%;
    height: 50%;
    border-radius: 5%;
    margin-top: 5%;
}

.myimg:hover img{
  transform: scale(1.3);
  transition: .3s;
}

#game2{
    width: 110%;
}

.mydrawing img{
    margin-top: 20%;
}

.page1title{
    font-size: 5rem;
}

.card2{
    height: 50rem;
    width: 50rem;
    background-image: url(../images/interestpage.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    overflow: hidden;
    
}

.dreams{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url(../images/dreams_bg.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 80%;
}

.dreamsimg1{
    position: absolute;
    z-index: 5;
    float: right;
    margin-left: 1rem;
}

.dreamsimg1 img{
    width: 12rem;
    height: 6rem;
    
 }

 .dreamsimg2{
    position: absolute;
    z-index: 4;
    float: right;
    margin-left: 25rem;
    margin-top: 12rem;
}

.dreamsimg2 img{
    width: 15%;
    height: 11%;
    
 }


 .dreamsimg4{
    position: absolute;
    z-index: 5;
    float: right;
    margin-left: 58rem;
}
.dreamsimg4 img{
   margin-top: 18rem;
   width: 32rem;
   height: 32rem;
}
 

.dreamstitle{
    background-image: url(../images/wood.jpg);
    background-position: center;
    background-size: contain;
    border-bottom: 5px solid grey;
    height: 5rem;
    align-content: center;
 
}

#dreamsctn{
    font-size: 2.1rem;
    margin: 1rem;
}


.interest{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url(../images/ancientcity_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.interestimg1{
    position: absolute;
    z-index: 5;
    float: right;
    margin-top: 45rem;
}
.interestimg1 img{
   width: 15rem;
   height: 15rem;
}

.interestimg2{
    position: absolute;
    z-index: 6;
    float: right;
    margin-left: 58rem;
}
.interestimg2 img{
   margin-top: 20rem;
   width: 32rem;
   height: 32rem;
}

.interestimg3{
    position: absolute;
    z-index: 7;
    float: right;
    margin-left: 45rem;
}
.interestimg3 img{
   margin-top: 20rem;
   width: 6rem;
   height: 6rem;
}
 
.interestimg4{
    position: absolute;
    z-index: 7;
    float: right;
    margin-left: 10rem;
}
.interestimg4 img{
   margin-top: 2rem;
   width: 10rem;
   height: 15rem;
}

.card3 {
    height: 50rem;
    width: 50rem;
    background-image: url(../images/interestpage.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    overflow: hidden;
  }

.interesttitle{
    background-image: url(../images/wood.jpg);
    background-position: center;
    background-size: contain;
    border-bottom: 5px solid grey;
    height: 5rem;
    align-content: center;
}



.interest-img img{
    width: 35vw;
}

#interestctn{
    font-size: 2.1rem;
    margin: 1rem;
}

.button  {
    margin-top: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  .button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  


.footer{
    display: flex;
    position: -webkit-sticky;
    margin-left: 58;
    margin-top: 80rem;
    z-index: 10;
    float: right;
}


/*Breakpoint*/



@keyframes FlashingText {
    0% {
    transform: scale(1) rotate(-20deg);
   }
    50% {
    transform: scale(1.05) rotate(-20deg);
   }
    100% {
    transform: scale(1) rotate(-20deg);
    }
}




